 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

//Partials
@import 'colors';

//Mixins
@mixin border {
  border: 1px solid $border-grey;
}

@mixin border-b {
  border-bottom: 1px solid $border-grey;
  margin-bottom: 16px;
  padding-bottom: 16px;
}

@mixin small-corner {
  @include border;
  border-radius: 3px;
}

@mixin button {
  @include small-corner;
  background-image: linear-gradient(#fcfcfc, #eee);
  font-size: 13px;
  font-weight: bold;
}

@mixin button-g {
  @include small-corner;
  background-color: #60b044;
  background-image: linear-gradient(#8add6d, #60b044);
  background-repeat: repeat-x;
  border-color: #5ca941;
  color: #fff;
}

// Custom Styles
body {
  width: 100%;
  background: #fafafa;
  font-family: Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #fff;
  font-size: 14px;
}

ul, li, a, h1, h2, h3, h4, h4, h6 {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  color: $blue;

  &:hover {
    text-decoration: underline;
  }
}

h1, h3 {
  font-weight: bold;
}

h3 {
  font-size: 28px;
  color: $blue;
}

.container {
  @include outer-container;
  min-width: 980px;
  margin: 0 auto;
}

nav {
  @include border-b;
  background-color: $bg-grey;
  color: $black;
  font-size: 13px;
  font-weight: bold;
  padding: 10px 0;
  margin-bottom: 20px;
  width: 100%;

  a {
    color: $black;

    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }

  .logo {
    height: 28px;
    width: 28px;
    float: left;
    margin-right: 10px;

    .octicon {
      font-size: 28px;
      vertical-align: middle;
    }
  }

  input {
    @include small-corner;
    height: 28px;
    width: 360px;
    padding-left: 10px;
    font-weight: normal;
    vertical-align: middle;
    float: left;
    margin-right: 16px;
  }

  .nav-links {
    float: left;
    line-height: 28px;

    li {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }
  }

  .profile-links {
    float: right;
    line-height: 28px;

    li {
      display: inline-block;
      margin-right: 10px;
    }

    img {
      width: 20px;
      border-radius: 3px;
      vertical-align: middle;
      margin-right: 2px;
    }

    .arrow {
      display: inline-block;
      width: 0;
      height: 0;
      content: "";
      vertical-align: -2px;
      border: 4px solid;
      border-right-color: transparent;
      border-left-color: transparent;
      border-bottom-color: transparent;
    }

    div {
      display: none;
    }
  }
}

aside {
  @include span-columns(3);

  ul {
    @include border-b;
  }

  ul:last-child {
    border-bottom: 0;
  }

  img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 3px;
  }

  h1 {
    font-size: 1.9em;
  }

  h2 {
    @include border-b;
    font-weight: 100;
    color: $grey;
  }

  .profile-info {

    li {
      line-height: 24px;
    }

    span {
      color: $lightgrey;
      margin-right: 6px;
    }
  }

  .stats {

    li {
      display: inline-block;
      text-align: center;
      font-size: 0.8em;
      color: $lightgrey;
      width: 32%;
    }
  }

  .organizations {
    font-size: 1.2em;

    h4 {
      margin-bottom: 16px;
    }

    li {
      display: inline-block;
    }

    img {
      width: 42px;
    }
  }
}

section {
  @include span-columns(9);

  .tabs {
    width: 100%;
    color: $grey;
    border-bottom: 1px solid $lightgrey;
    margin-bottom: 16px;

    li {
      padding: 10px 14px 10px 14px;
      display: inline-block;
      margin-bottom: -1px;
    }

    .open {
      @include small-corner;
      border-bottom: 1px solid #fff;
    }

    li:last-child {
      border: none;
      float: right;
      color: $black;
      font-weight: bold;
      font-size: 13px;
    }

    .edit-profile {
      padding: 2px 0;
    }

    button {
      @include button;
      padding: 4px 10px;
    }
  }
}

.repo-options {
  @include border-b;
  margin-bottom: 30px;
  overflow: auto;

  form {
    float: left;
  }

  input {
    @include small-corner;
    font-size: 13px;
    padding: 8px 12px;
    width: 260px;
  }

  button {
    @include button;
    padding: 8px 12px;
  }

  ul {
    float: left;
    margin-left: 30px;

    li {
      display: inline-block;
      line-height: 33px;
      margin-right: 7px;
    }
  }

  .selected a{
    color: $black;
    font-weight: bold;
  }

  .new-repo {
    @include button-g;
    float: right;
  }
}

.repos {
  clear: both;

  li {
    @include border-b;
    padding-bottom: 34px;
    margin-bottom: 30px;
    overflow: auto;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 10px;
    display: inline-block;
  }

  .time {
    color: $grey;
    display: block;
    font-size: 13px;
    display: inline-block;
    width: 100%;
  }

  .repo-stats {
    float: right;
    color: $grey;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;

    a {
      color: $grey;
      margin-left: 10px;

      &:hover {
        color: $blue;
        text-decoration: none;
      }
    }
  }
}