<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>GithubRepo</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="bower_components/octicons/octicons/octicons.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

    <!--  NAVIGATION   -->

    <nav>
      <div class="container">
        <a class="logo" href="#"><span class="octicon octicon-mark-github"></span></a>
        <input type="text" class="nav-search" placeholder="Search Github">
        <ul class="nav-links">
          <li><a href="#">Explore</a></li>
          <li><a href="#">Gist</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Help</a></li>
        </ul>
        <ul class="profile-links">
          <!-- <li><a href="#">
            <img src="images/profile.jpg" alt="">
            <span>rdanieldesign</span>
          </a></li> -->
          <li><a href="#">
            <span class="octicon octicon-plus"></span><span class="arrow"></span>
            <div>Create new...</div>
          </a></li>
          <li><a href="#">
            <span class="octicon octicon-inbox"></span>
            <div>You have no unread notifications</div>
          </a></li>
          <li><a href="#">
            <span class="octicon octicon-gear"></span>
            <div>Settings</div>
          </a></li>
          <li><a href="#">
            <span class="octicon octicon-microscope"></span>
            <div>Sign Out</div>
          </a></li>
        </ul>
      </div>
    </nav>

    <!--  END NAVIGATION   -->

    <div class="container">

      <!--  SIDEBAR   -->

      <aside>
        <!-- <img src="images/profile.jpg" alt="" class="profile">
        <h1>Richard Daniel</h1>
        <h2>rdanieldesign</h2> -->
        <!-- <ul class="profile-info">
          <li>
            <span class="octicon octicon-location"></span>
            Birmingham, AL
          </li>
          <li>
            <span class="octicon octicon-mail"></span>
            <a href="#">rdanieldesign@gmail.com</a>
          </li>
          <li>
            <span class="octicon octicon-clock"></span>
            <a href="#">http://www.rdanieldesign.com</a>
          </li>
          <li>
            <span class="octicon octicon-microscope"></span>
            Joined on Apr 7, 2013
          </li>
        </ul> -->
        <ul class="stats">
          <!--<li class="followers">
            <h3>0</h3>
            Followers
          </li>
          <li class="starred">
            <h3>0</h3>
            Starred
          </li>
          <li class="following">
            <h3>0</h3>
            Following
          </li> -->
        </ul>
        <ul class="organizations">
          <h4>Organizations</h4>
          <!-- <li>
            <img src="images/js-hacker.jpeg" alt="">
          </li>
          <li>
            <img src="images/js-hacker.jpeg" alt="">
          </li>
          <li>
            <img src="images/js-hacker.jpeg" alt="">
          </li>
           -->
        </ul>
      </aside>

      <!--  END SIDEBAR   -->
      <!--  MAIN CONTENT   -->

      <section class="main-content">
        <ul class="tabs">
          <li>
            <span class="octicon octicon-diff-added"></span>
            Contributions
          </li>
          <li class="open">
            <span class="octicon octicon-repo"></span>
            Repositories
          </li>
          <li>
            <span class="octicon octicon-rss"></span>
            Public Activity
          </li>
          <li class="edit-profile">
            <button>
              <span class="octicon octicon-pencil"></span>
              Edit Profile
            </button>
          </li>
        </ul>
        <div class="repo-options">
          <form action="" class="repo-search">
            <input type="text" placeholder="Find a repository...">
            <button>Search</button>
          </form>
          <ul>
            <li class="selected"><a href="#">All</a></li>
            <li><a href="#">Public</a></li>
            <li><a href="#">Private</a></li>
            <li><a href="#">Sources</a></li>
            <li><a href="#">Forks</a></li>
            <li><a href="#">Mirrors</a></li>
          </ul>
          <button class="new-repo">
            <span class="octicon octicon-repo"></span>
            New
          </button>
        </div>
        <ul class="repos">
          <!-- <li>
            <a href="#"><h3>GithubRepo</h3></a>
            <div class="repo-stats">
              <span>Javascript</span>
              <a href="">
                <span class="octicon octicon-star"></span>
                0
              </a>
              <a href="">
                <span class="octicon octicon-git-branch"></span>
                0
              </a>
            </div>
            <span class="time">Updated 2 hours ago</span>
          </li> -->
        </ul>
      </section>

      <!--  END MAIN CONTENT   -->
    </div>

    <!--   TEMPLATE FILES -->

    <script id="nav-info">
      <li>
        <a href="<%= html_url %>">
          <img src="<%= avatar_url %>" alt="">
          <span><%= login %></span>
        </a>
      </li>
    </script>

    <script id="sidebar-info">
      <img src="<%= avatar_url %>" alt="" class="profile">
      <h1><%= name %></h1>
      <h2><%= login %></h2>
      <ul class="profile-info">
        <li>
          <span class="octicon octicon-location"></span>
          <%= location %>
        </li>
        <li>
          <span class="octicon octicon-mail"></span>
          <a href="#"><%= email %></a>
        </li>
        <li>
          <span class="octicon octicon-clock"></span>
          <a href="#"><%= blog %></a>
        </li>
        <li>
          <span class="octicon octicon-microscope"></span>
          Joined on <%= created_at %>
        </li>
      </ul>
    </script>

    <script id="sidebar-stats">
      <li class="followers">
        <h3><%= followers %></h3>
        Followers
      </li>
      <li class="starred">
        <h3>0</h3>
        Starred
      </li>
      <li class="following">
        <h3><%= following %></h3>
        Following
      </li>
    </script>

    <script id="sidebar-orgs">
        <li>
          <img src="<%= avatar_url %>" alt="">
        </li>
    </script>

    <script id="repos">
      <li>
        <a href="<%= html_url %>"><h3><%= name %></h3></a>
        <div class="repo-stats">
          <span><%= language %></span>
          <a href="">
            <span class="octicon octicon-star"></span>
            <%= stargazers_count %>
          </a>
          <a href="">
            <span class="octicon octicon-git-branch"></span>
            <%= forks_count %>
          </a>
        </div>
        <span class="time">Updated <%= updated_at %></span>
      </li>
    </script>



    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

<script src="scripts/token.js"></script>
        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
